<ion-header>
    <ion-navbar>
        <ion-title>Congelador
          <button ion-button color="tertiary" *ngIf="!showFooterState" (click)="showFooter()" float-right>+</button>
          <button ion-button color="tertiary" *ngIf="showFooterState" (click)="showFooter()" float-right>-</button>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar color="secondary">
        <ion-item class="categoryItem">
            <ion-label>Mostrar</ion-label>
            <ion-select placeholder="Mostrar solo ..." [(ngModel)]="filter" (ionChange)="setFilter()">
                <ion-option value="all">Todo</ion-option>
              <ng-container *ngFor="let categoria of categories">
               <ion-option *ngIf="categoria.id >= 10" value="{{ categoria.type }}">{{ categoria.name }}</ion-option> 
              </ng-container>
            </ion-select>      
        </ion-item>
    </ion-toolbar>

    <ion-list padding [virtualScroll]="listItemsView" approxItemHeight="50px">
        <ion-item *virtualItem="let item; let i = index">
            <img [src]="urlImg + item.categoria + '.jpg'" />
            <span class="regularFont colorPrimary">{{ item.amount }}</span>
            <span class="regularFont colorPrimary" [ngClass]="{'bold': item.urgencia == 'SI'}">{{ item.name }}</span>
            <button ion-button item-end (click)="updateItem(i, item, 'less')"><ion-icon name="remove"></ion-icon></button>
            <button ion-button item-end (click)="updateItem(i, item, 'more')"><ion-icon name="add"></ion-icon></button>
            <button ion-button item-end (click)="removeItem(item.id_ingredient)" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
        </ion-item>
    </ion-list>
</ion-content>
  
<ion-footer [ngClass]="{'displayNone': !showFooterState}">
    <form #f="ngForm" (ngSubmit)="addItem(f)" padding-horizontal>
        <ion-grid>
          <ion-row>
              <ion-col col-10>
                  <ion-item class="categoryItem">
                      <ion-label>Categoría</ion-label>
                      <ion-select name="categoria" placeholder="Categoría" ngModel (ionChange)="categorySelected($event)" required text-center>
                        <ng-container *ngFor="let categoria of categories">
                          <ion-option *ngIf="categoria.id >= 10" value="{{ categoria.type }}">{{ categoria.name }}</ion-option> 
                        </ng-container>
                      </ion-select>      
                  </ion-item>

                  <ion-item class="categoryItem">
                      <ion-label>Ingrediente</ion-label>
                      <ion-select name="ingredient" placeholder="Ingrediente" ngModel required text-center>
                          <ng-container *ngFor="let ingredient of ingredientsView">
                              <ion-option value="{{ ingredient.id }}">{{ ingredient.name }}</ion-option>
                          </ng-container>
                      </ion-select>      
                  </ion-item>

                  <ion-item class="quantityItem">
                      <ion-input type="number" name="amount" placeholder="0" [(ngModel)]="amount" required text-center></ion-input>
                  </ion-item>
              </ion-col>

              <ion-col col-2 no-padding>
                  <button ion-button color="tertiary" type="submit" block [disabled]="!f.valid" float-right>+</button>
              </ion-col>
          </ion-row>      
        </ion-grid>
      </form>
</ion-footer>
