page-pantry {
    .scroll-content {
        background: url('../../assets/imgs/bg-pantry.png') no-repeat;
        background-size: 100%;
        background-position: bottom;

        .toolbar-md {
            min-height: inherit;
            .item-md {
                .item-inner {
                  border-bottom: none;  
                }
                &.item-select .label-md {
                    color: #fff;
                }
            }
        }    
    }

    ion-title .button-md {
        width: 2.7rem;
        height: 2.7rem;
        margin-bottom: 0;
    }

    input::-webkit-input-placeholder,
    .select-placeholder {
        color:#ccc !important;
    }

    ion-footer {
        background: color($colors, primary);
    }

    ion-list {
        img {
            width: 2rem;
            height: 2rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }
        .item-md {

            .label img + span {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
                border-radius: 50%;
                background: color($colors, tertiary);
                text-align: center;
                line-height: 2.2rem;
            }

            ion-icon[item-end] {
                font-size: 2.2rem;
                color: $color-theme3;
            }
        }
    }

}
