<ion-header>
  <ion-navbar>
    <ion-title>Nuevo Ingrediente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form #f="ngForm" (ngSubmit)="saveData(f)">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-item class="categoryItem">
                      <ion-label>Categorías</ion-label>
                      <ion-select name="categoria" placeholder="Categoría" ngModel required text-center
                      (ionChange)="categorySelected($event)" 
                      interface="action-sheet"
                      [selectOptions]="selectCategories">
                        <ng-container *ngFor="let categoria of categories">
                          <ion-option value="{{ categoria.type }}">{{ categoria.name }}</ion-option>
                        </ng-container>
                      </ion-select>
                  </ion-item>
                  
                  <ion-item>
                      <ion-input type="text" name="name" placeholder="Ingrediente" ngModel required></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <button ion-button color="primary" type="submit" block [disabled]="!f.valid">Añadir Ingrediente</button>
              </ion-col>                
          </ion-row>  

          <ion-row>
              <ion-col *ngIf="ingredientsView != null">
                  <h5>Elementos ya añadidos en {{ categoriaSelected }}</h5>
                  <ion-list>
                      <ion-badge *ngFor="let ingredient of ingredientsView" color="secondary">{{  ingredient.name }}</ion-badge>
                  </ion-list>                
              </ion-col>
          </ion-row>
      </ion-grid>
    </form>
</ion-content>
