page-new-ingredient {
    .text-input-md {
        margin-left: 0;
    }
    
    .badge-md-secondary {
        margin: 0 1rem 1rem 0;
        //padding: 1rem;
    }
    
    .ion-md-close-circle {
        padding: 0.2rem;
        vertical-align: middle;
    }
}
