<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>      
      <ion-title>
        <span>Recetas</span>
        <ion-searchbar [(ngModel)]="searchTerm" 
          [formControl]="searchControl" 
          (ionInput)="onSearchInput(searchTerm)"
          (ionFocus)="checkFocus()"
          (ionBlur)="checkFocus()"
          [ngClass]="{'expanded': searchBar}">
      </ion-searchbar>        
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar color="secondary">
      <ion-grid no-padding>
          <ion-row align-items-center justify-content-center>
              <button ion-col ion-button (click)="setCategory('cuchara')" [ngClass]="{'activeButton': category == 'cuchara'}">
                  Cuchara
              </button>
              <button ion-col ion-button (click)="setCategory('carne')" [ngClass]="{'activeButton': category == 'carne'}">
                  Carne
              </button>
              <button ion-col ion-button (click)="setCategory('pescado')" [ngClass]="{'activeButton': category == 'pescado'}">
                  Pescado
              </button>
              <button ion-col ion-button (click)="setCategory('verdura')" [ngClass]="{'activeButton': category == 'verdura'}">
                  Verdura
              </button>
              <button ion-col ion-button (click)="setCategory('pasta')" [ngClass]="{'activeButton': category == 'pasta'}">
                  Pasta
              </button>
          </ion-row>
      </ion-grid>    
  </ion-toolbar>

  <ion-list padding-top [virtualScroll]="listRecipe" approxItemHeight="70px">
      <ion-item-sliding *virtualItem="let recipe; let i = index" #slidingItem>

          <ion-item (click)="detailRecipe(recipe)">
              <ion-avatar item-start>
                  <ng-container *ngIf="recipe.img !='' && recipe.img !== 'NULL'; else defaultImg">
                      <div [ngStyle]="{'background-image': 'url(' + urlImg + recipe.img + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
                      </div>
                  </ng-container>
                  <ng-template #defaultImg>
                      <img src="../../assets/imgs/noImg.png" />
                  </ng-template>                  
              </ion-avatar>
              
              <ion-label text-wrap><span class="grey">{{i+1}}. </span>{{ recipe.title }}
                <span class="block colorSecondary">{{ recipe.category }}</span>
              </ion-label>
              
              <div item-content>
                  <ng-container *ngIf="recipe.noteAverage != 'SC'; else SCnote">
                    <ng-container *ngFor="let star of recipe.noteAverage|timesPipe">
                      <ion-icon name="star" color="secondary" item-end></ion-icon>  
                    </ng-container>                
                  </ng-container>
                  <ng-template #SCnote>
                      <ion-badge item-end>SC</ion-badge>
                  </ng-template>
              </div>
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="secondary" (click)="onInputRecipe(recipe, slidingItem)">
                  <ion-icon name="create"></ion-icon> Editar
                </button>
              <button ion-button color="danger" (click)="onAlertDelete(recipe.id)">
                  <ion-icon name="trash"></ion-icon> Borrar
              </button>
          </ion-item-options>
          
      </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="infiniteEnabled">
      <ion-infinite-scroll-content loadingText="Cargando recetas ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
        <ion-row align-items-center justify-content-center>
            <button ion-col ion-item text-center (click)="goToPage('recipe')">
                <ion-icon color="primary" name="add-circle"></ion-icon>
            </button>
            <button ion-col ion-item text-center (click)="goToPage('cooking')">
                <ion-icon color="primary" name="ios-list-box"></ion-icon>
            </button>
            <button ion-col ion-item text-center (click)="goToPage('fridge')">
                <ion-icon color="primary" name="snow"></ion-icon>
            </button>
            <button ion-col ion-item text-center (click)="goToPage('store')">
                <ion-icon color="primary" name="cart"></ion-icon>
            </button>
        </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-footer>
