  <ion-header>
    <ion-navbar class="navBarSecondary">
      <ion-title>
        <!--<ion-icon name="arrow-back" (click)="onClose()"></ion-icon>&nbsp;&nbsp;&nbsp;-->
        <span text-wrap class="font-bold">{{ recipe.title }}</span>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
      <div class="imgFrame"><img [src]="urlImg + recipe.img" imageViewer /></div>

      <ion-item>
          <span class="font-book colorSecondary">{{ recipe.category }}</span>
          <ion-badge color="tertiary">{{ recipe.noteDani }}</ion-badge>
          <ion-badge color="secondary">{{ recipe.noteDolores }}</ion-badge>            
          <button ion-button item-end [navPush]="inputRecipe" [navParams]="recipe">Editar</button>
      </ion-item>
      
      <ul>
        <ng-container>
            <li *ngFor="let ingredient of recipe.mainIngredient">
              <span>{{ ingredient.name }} <span *ngIf="ingredient.quantity > 1">({{ ingredient.quantity}})</span></span>
            </li> 
        </ng-container>
      </ul> 
      
      <ol>
        <ng-container *ngFor="let advice of recipe.advice">
            <li *ngIf="advice.step !=''">{{ advice.step }}</li>
        </ng-container>
      </ol>
  </ion-content>
