<ion-header>
    <ion-navbar>
      <ion-title>Lista de la compra</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar [(ngModel)]="searchTerm" 
        [formControl]="searchControl" 
        [showCancelButton]="shouldShowCancel"
        [cancelButtonText]="'Añadir'"
        (ionInput)="onSearchInput(searchTerm)"
        (ionCancel)="addNoRegistered(searchTerm)">
    </ion-searchbar>

    <!--<form #f="ngForm" (ngSubmit)="addItem(f)"> -->
      <ion-grid class="form">
          <!--<ion-row>
              <ion-item ion-col col-8>
                <ion-input type="text" name="name" placeholder="Ingrediente" [(ngModel)]="name" required></ion-input>
                <input type="hidden" name="category" [(ngModel)]="category" />
                <input type="hidden" name="idIngredient" [(ngModel)]="idIngredient" />
              </ion-item>

              <ion-item ion-col col-2>
                <ion-input type="number" name="amount" placeholder="1" [(ngModel)]="amount" required text-center></ion-input>
              </ion-item>

              <ion-col col-2 no-padding>
                <button ion-button type="submit" block [disabled]="!f.valid" float-right>+</button>
              </ion-col>
          </ion-row> -->

          <ion-row *ngIf="ingredientsView?.length">
            <ion-col>
              <ion-list>
                    <li *ngFor="let ingredient of ingredientsView;">
                      <button (click)="selectIngredient(ingredient.id, ingredient.name, ingredient.categoria)">{{ ingredient.name }}</button>
                    </li>
              </ion-list>
            </ion-col>
          </ion-row>
              
      </ion-grid>
    <!--</form>-->

    <ion-list [virtualScroll]="listItems" approxItemHeight="50px">
        <ion-item-sliding *virtualItem="let item; let i = index" #slidingItem>
            <ion-item>
                <span class="regularFont colorPrimary">{{ item.amount }}</span>
                <span class="regularFont colorPrimary" [ngClass]="{'bold': item.urgencia == 'SI'}">{{ item.name }}</span>
                <button ion-button item-end (click)="updateItem(i, item, 'less')"><ion-icon name="remove"></ion-icon></button>
                <button ion-button item-end (click)="updateItem(i, item, 'more')"><ion-icon name="add"></ion-icon></button>
                <button ion-button item-end (click)="removeItem(i, 'index')" color="danger"><ion-icon name="ios-trash-outline"></ion-icon></button>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="urgentItem(i, item, slidingItem)">
                    <ion-icon name="md-alarm"></ion-icon> 
                    <span *ngIf="item.urgencia == 'SI'">No Urgente</span>
                    <span *ngIf="item.urgencia == 'NO'">Urgente</span>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6>
            <button ion-button block (click)="onAlertMoveData(listItems)" color="secondary">Pasar a despensa</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block (click)="saveData(listItems)">Guardar lista</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
